<html>
        <head>
            <title>Django Joan blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Django Joan Blog</a></h1>
            </div>

            <div>
                 {% for post in posts %}
                   <p>published: {{post.published_date}} by {{post.author}} </p>
                   <h1><a href="">{{ post.title }}</a></h1>
                   <p>{{ post.text|linebreaksbr }}</p>
             </div>
            {% endfor %}
        </body>
    </html>
